body{
  background: #fff !important;
  padding: 0em;
}

/*artistList*/
.listImage {
  margin:10px;
}
/*artistlist end*/
/*Exclusive Booking*/
.countInput{
  width: 50px;
}
/*END of Exclusive Booking*/
.plan ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan ul li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding:10px;
}

.plan ul li:last-child {
  border-bottom: 0;
}

.plan1 a{
  color:#fff;
}


.plan h2 {
  text-transform: uppercase;
  color:white;
  letter-spacing: 2px;
  text-shadow:3px 3px 0 rgba(0,0,0,0.1);
  text-align: center;
}

.price {
  font-size: 20px;
  font-family: serif;
  margin: 10px 0;
  color: white;
  padding-left: 11px;
}
.features{
  color:#fff;
  overflow-y: scroll;
  height: 75vh;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


/* Flex Container!!! */
.pricing-grid {
  max-width:750px;
  margin: 0 auto;
  display:flex;
  align-items:center;
}

.plan {
  background:#111;
  margin:0px;
  padding:20px;
  text-align:left;

  flex:1;
  display:flex;
  flex-wrap:wrap;

}

.plan > * {
  flex:1 1 100%;
}

.plan .cta {
  align-self:flex-end;
  text-align: center;
}

.slider-container{
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  color: #333;
  /*background: #419be0;*/
}

/***************** semantic ui changes ************/

/*Border Radius*/
.ui.segment, .ui.button, .ui.card, .ui.input input {
  border-radius: 0 !important;
}
.ui.card>.image>img, .ui.cards>.card>.image>img{
  border-radius: 0 !important;
}

.ui.card>:last-child, .ui.cards>.card>:last-child{
  border-radius:0 0 0 0 !important;
}
/*END of Border radius*/
.ui.attached.button {
  box-shadow: none !important;
}

/*padding*/
.paddingright{
  padding-right: 0 !important;
}
.paddingleft{
  padding-left: 0 !important;
}

.article{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0px;
}

/*Home magin*/
.margin-top{
  margin-top:1 !important;
}
.margin-bottom{
  margin-bottom: 0 !important;
}

.padding-top{
  padding-top:0 !important;
}

/*view port */
.heightvh{
  height:50vh !important;
}
.fullvh{
  height:100vh !important;
}
/********************END of semantic ui****************/

/*SLiders*/
.slick-list {

}

.sliderImage{
      background: #fff;
      color: #3498db;
      font-size: 36px;
      line-height: 100px;
      position: relative;
      text-align: center;
      min-width: 100%;
      max-height:50vh;
}
/*End of sliders*/


.leftrail{
  min-height: 262.531px;
}

.stickui{
  width: 272px !important; height: 262.531px !important; left: -2.5px;
}

.rightrail{
  min-height: 262.531px;
}

.stickuiright{
  width: 272px !important; height: 262.531px !important; left: 1079.5px;
}

.widthchange {
  width:15rem;
}
